.perspective {
	perspective: 400px;
}

.translate {
	z-index: 2;
	transform: translate3d(0, 0, 0);
}

.translate-right-under {
	z-index: 1;
	transform: translate3d(10%, 0, -2em);
}

.translate-left-under {
	z-index: 1;
	transform: translate3d(-10%, 0, -2em);
}