.background {
	position: relative;
	background-position: center;
	background-size: cover;
}


.background:before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-color: inherit;
	opacity: 0;
}

.background > div  {
	position: relative;
	z-index: 1;
}

.background > img,
.background > section > img  {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@for $i from 1 through 10 {
	.background--fade-#{$i}:before {
		opacity: $i*0.1;
	}
}