.border-radius {
	border-radius: $border-radius;
}

.ba {
	border: 0.1em solid;
}

.b0 {
	border: none;
}

.bt {
	border-top: 0.1em solid;
}

.bb {
	border-bottom: 0.1em solid;
}

.bl {
	border-left: 0.1em solid;
}

.br {
	border-right: 0.1em solid;
}