// circle

.circle {
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	border-radius: 1.5em;
}

img.circle {
	width: auto;
	height: auto;
	margin-bottom: -6px;
	border-radius: 100%;
}

.square.circle {
	width: inherit;
	height: inherit;
	line-height: inherit;
	border-radius: 100%;
}