// font-size

	.smaller {
		font-size: 0.6 * $unit !important;
		letter-spacing: 0.1em;
	}

	.small {
		font-size: 0.8 * $unit !important;
	}

	.big {
		font-size: 1.5 * $unit !important;
	}

	.bigger {
		font-size: 2 * $unit !important;
	}


// font weight

	.bold {
		font-weight: bold;
	}

	.normal {
		font-weight: normal;
	}

	.lighter {
		font-weight: lighter;
	}


// font style

	.pre {
		white-space: pre-line;
	}

	.nowrap {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		display: inline-block;
	}

	.firstcap-up:first-letter {
		text-transform: uppercase;
	}

	.uppercase {
		text-transform: uppercase;
	}

	.italic {
		font-style: italic;
	}