
// Margin
    .mauto {
        margin: auto;
    }

    .m0 {
        margin: 0;
    }

    @each $size_name, $size_value in $margin_size {    
        .ma#{nth($size_value, 1)} {
            margin: nth($size_value, 2) * $unit;
        }

        @media #{$small-and-down} {
            .s-ma#{nth($size_value, 1)} {
                margin: nth($size_value, 2) * $unit;
            }
        }
    }

    @each $pos_name, $pos_value in $margin_pos {
    	@each $size_name, $size_value in $margin_size {
            .m#{$pos_value}#{nth($size_value, 1)} {
                margin-#{$pos_name}: nth($size_value, 2) * $unit;
            }

            @media #{$small-and-down} {
                .s-m#{$pos_value}#{nth($size_value, 1)} {
                    margin-#{$pos_name}: nth($size_value, 2) * $unit;
                }
            }

            .m#{$pos_value}#{nth($size_value, 1)}--i {
                margin-#{$pos_name}: nth($size_value, 2) * -$unit;
            }

            @media #{$small-and-down} {
                .s-m#{$pos_value}#{nth($size_value, 1)}--i {
                    margin-#{$pos_name}: nth($size_value, 2) * -$unit;
                }
            }
    	}
    }

// Padding

    .p0 {
        margin: 0;
    }

    @each $size_name, $size_value in $margin_size {
        .pa#{nth($size_value, 1)} {
            padding: nth($size_value, 2) * $unit;
        }

        @media #{$small-and-down} {
            .s-pa#{nth($size_value, 1)} {
                padding: nth($size_value, 2) * $unit;
            }
        }
    }

    @each $pos_name, $pos_value in $margin_pos {
        @each $size_name, $size_value in $margin_size {
            
            .p#{$pos_value}#{nth($size_value, 1)} {
                padding-#{$pos_name}: nth($size_value, 2) * $unit;
            }
            
            @media #{$small-and-down} {
                .s-p#{$pos_value}#{nth($size_value, 1)} {
                    padding-#{$pos_name}: nth($size_value, 2) * $unit;
                }
            }
        }
    }