.square {
	position: relative;

	&:before {
		content: "";
		position: relative;
		width: 100%;
		padding-top: 100%;
		display: block;
	}

	& > * {
		position: absolute;
		top: 50%;
		left: 50%;
		@include vendor-property(transform, translate3d(-50%, -50%, 0));
	}

	& > img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}