// Colors
$colors: (
	'transparent': 	transparent,
	'white': 	    #ffffff,
	'whitesmoke': 	#f0f0f0,
	'gray': 		#555,
	'black': 		#222,
    'blue':         #4275F4,
    'facebook':     #587CBB,
    'twitter':      #6CCFEF,
    'youtube':      #F05A61,
	'linkedin': 	#0274B3,
    'green':        #2ED8B1,
	'forestmind': 	#E3F0E6,
    'red':          #AC0C22,
    'turquoise':    #66cccc,
    'greenlac':     #A0C4AA,
    'brown':        #776A64,
);

// $prefix-class: prefix the class name ( default is name of color )
// $attr-css: Attribut css
// $prefix-value: use this if you need something before value (ex: "1px solid")
// $sufix-class: sufix the class name, use this if you need a state (ex: ":hover")

@function Colors($c: '', $l: 0, $f: 0) {
	@if map-get($colors, $c) {
		@if $l < 0 {
			@return fade-out( darken(map-get($colors, $c), $l*-10%), $f);
		} @else if $l > 0 {
			@return fade-out( lighten(map-get($colors, $c), $l*10%), $f);
		} @else {
			@return fade-out( map-get($colors, $c), $f);
		}
	}
	@return white;
}

// $prefix-class: prefix the class name ( default is name of color )
// $attr-css: Attribut css
// $prefix-value: use this if you need something before value (ex: "1px solid")
// $sufix-class: sufix the class name, use this if you need a state (ex: ":hover")

@mixin colors-helper( $prefix-class:"", $attr-css:"", $prefix-value:"" ) {

	@each $color, $value in $colors {

        .#{$prefix-class + $color} {
            #{$attr-css}: #{$prefix-value} $value !important;
            @content;
        }

        @for $i from 1 through 9 {
            // Lighten
            @if (lightness( lighten($value, $i*10) ) < 100) {
                .#{$prefix-class + $color}.#{$prefix-class + "lighten-" + $i} {
                    #{$attr-css}: #{$prefix-value} lighten($value, $i*10) !important;
                    @content;
                }
            }
            // darken
            @if (lightness( darken($value, $i*10) ) > 0) {
                .#{$prefix-class + $color}.#{$prefix-class + "darken-" + $i} {
                    #{$attr-css}: #{$prefix-value} darken($value, $i*10) !important;
                    @content;
                }
            }
        }
    }

}