// gradient
$gradients : (
    'blue-green' : 		   ( Colors( 'blue' ), Colors( 'green' ) ),
    'green-whitesmoke' : 	( Colors( 'green' ), Colors( 'whitesmoke' ) ),
    'blue-whitesmoke' : 	( Colors( 'blue' ), Colors( 'whitesmoke' ) ),
    'blue-red' : 			( Colors( 'blue' ), Colors( 'purple' ) ),
    'gray' : 				( lighten( Colors( 'gray' ), 16%), Colors( 'gray' ) ),
);

@mixin linearGradient($top, $bottom) {
    background: $top; /* Old browsers */
    background: -moz-linear-gradient( -45deg, $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, right bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( -45deg, $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( -45deg, $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient( -45deg, $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient( 135deg, $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}