// base unit
$unit: 1em;

// transition
$transition: 0.3s ease;
$transition-slow: 0.6s ease;

// radius
$border-radius: 0.2em;

// box-shadow
$box-shadow: 0 0.1em 0.2em 0 rgba(0,0,0,0.16), 0 0.1em 0.8em 0 rgba(0,0,0,0.12);

// text-shadow
$text-shadow: 0 1px 1px fade-out(map-get($colors, 'black'), 0.5);

// form
$form-height: $unit * 2.4;

// grid
$container-maxwidth: 72em;