.container {
	padding: 0 $unit;
	max-width: $container-maxwidth;
	margin: auto;
}

// grid .g

@for $i from 1 through 12 {
	.g#{$i} > .col {
		width: 100%/$i;
	}
}

@for $i from 1 through 12 {
	@media #{$small-and-up} {
		.g#{$i}--s > .col {
			width: 100%/$i;
		}
	}
}

@for $i from 1 through 12 {
	@media #{$medium-and-up} {
		.g#{$i}--m > .col {
			width: 100%/$i;
		}
	}
}

@for $i from 1 through 12 {
	@media #{$large-and-up} {
		.g#{$i}--l > .col {
			width: 100%/$i;
		}
	}
}


// column .col

	@mixin col() {
		vertical-align: top;
		display: inline-block;
		width: 100%;
		// margin-right: -4px; // compatibilitée bipolaire, à surveiller
		@include vendor-property(box-sizing, border-box);
	}

	.col {
		@include col;
	}

	@for $i from 0 through 11 {
		.col#{$i} {
			@include col;
			width: 100%/12*$i;
		}
	}

	@for $i from 1 through 12 {
		.col#{$i}--s { @include col }
		@media #{$small-and-up} {
			.col#{$i}--s {
				width: 100%/12*$i;
			}
		}
	}

	@for $i from 0 through 11 {
		.col#{$i}--m { @include col }
		@media #{$medium-and-up} {
			.col#{$i}--m {
				width: 100%/12*$i;
			}
		}
	}

	@for $i from 0 through 11 {
		.col#{$i}--l { @include col }
		@media #{$large-and-up} {
			.col#{$i}--l {
				width: 100%/12*$i;
			}
		}
	}