// reset

body {
	margin: 0;
	position: relative;
	font-size: 14px;
	color: Colors( 'black' );
	font-family: $font;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	margin: $unit 0;
	border: none;
	height: 0.1em;
	background-color: Colors( 'gray' );
}

.disabled,
[disabled] {
	cursor: not-allowed;
}

a {
	text-decoration: none;
	color: Colors('blue');
}