.btn {
	background-color: Colors( 'transparent' );
	color: Colors( 'turquoise' );
	border: 0.1em solid;
	border-color: Colors( 'transparent' );
	padding: 0 Padding();
	min-height: $form-height;
	line-height: $form-height;
	display: inline-block;
	font-size: 1em;
	
	&:hover, &:active, &:focus {
		background-color: Colors( 'transparent' );
		color: Colors( 'turquoise', -2 );
		border-color: inherit;
	}
	
	&.disabled,
	&[disabled] {
		opacity: 0.8;
	}

	& > span,
	& > i {
		line-height: 1.4;
		vertical-align: baseline;
	}

	& > i {
		vertical-align: 0.05em;
		&:first-child {
			margin-right: Margin( 'xsmall' ) }
		&:last-child {
			margin-left: Margin( 'xsmall' ) }
		&:first-child:last-child {
			margin: 0 }
	}
}


.btn--primary {
	background-color: Colors( 'turquoise' );
	color: Colors( 'white' );
	border-color: Colors( 'turquoise' );

	&:hover, &:active, &:focus {
		background-color: Colors( 'turquoise', -2 );
		color: Colors( 'white' );
		border-color: Colors( 'turquoise', -2 );
	}
}


.btn--green {
	background-color: Colors( 'green' );
	color: Colors( 'white' );
	border-color: Colors( 'green' );

	&:hover, &:active, &:focus {
		background-color: Colors( 'green', -1 );
		color: Colors( 'white' );
		border-color: Colors( 'green', -1 );
	}
}



.btn--blue {
	background-color: Colors( 'blue' );
	color: Colors( 'white' );
	border-color: Colors( 'blue' );

	&:hover, &:active, &:focus {
		background-color: Colors( 'blue', -1 );
		color: Colors( 'white' );
		border-color: Colors( 'blue', -1 );
	}
}


.btn--linkedin {
	background-color: Colors( 'linkedin' );
	color: Colors( 'white' );
	border-color: Colors( 'linkedin' );

	&:hover, &:active, &:focus {
		background-color: Colors( 'linkedin', -1 );
		color: Colors( 'white' );
		border-color: Colors( 'linkedin', -1 );
	}
}