input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel] {
	min-height: $form-height;
	line-height: $form-height;
	border: 0.1em solid Colors('whitesmoke');
	padding: 0 Padding();
	font-size: 1em;
	display: inline-block;
	@include vendor-property(box-sizing, border-box);
	@include vendor-property(transition, border $transition);

	@include color-placeholder( Colors('gray', 4) );

	&:hover,
	&:active,
	&:focus {
		outline: none !important;
		outline: 0 !important;
		border-color: Colors('turquoise');
	}

	&.disabled,
	&[disabled] {
		outline: none !important;
		outline: 0 !important;
		border-color: Colors('gray', 4);
		color: Colors('gray', 4);
		background-color: Colors('whitesmoke', 2);
		@include color-placeholder( Colors('gray', 4) );
	}
}

textarea {
	font-size: 1em;
	width: 100%;
	display: inline-block;
	background-color: Colors('whitesmoke');
	padding: 1em;
	border: none;
	min-height: 12em;
	min-height: 33vh;
	border-bottom: 0.1em solid Colors('whitesmoke');
	@include vendor-property(box-sizing, border-box);
	@include vendor-property(transition, $transition);

	&:hover,
	&:active,
	&:focus {
		background-color: Colors('white');
		outline: none !important;
		outline: 0 !important;
		border-color: Colors('turquoise');
	}
}