.nav {
	display: block;
}

.nav > ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.nav > ul > li {
	display: inline-block;

}

.nav > ul > li > a {
	display: inline-block;
	min-height: $form-height;
	line-height: $form-height;
	text-decoration: none !important;
	@include vendor-property(box-sizing, border-box);
}

