.tile {

}

.title--divider {
  line-height: 0;
  height: 1px;
  font-weight: normal;
  margin: 1em 0 1em 0;
  background-color: Colors('turquoise');

  & > * {
    font-size: 1em;
    padding-right: 1em;
    margin: 0;
    background-color: white;
    transform: translateY(-50%);
    display: inline-block;
    line-height: 1.4;
    margin-right: -4px;
    color: Colors('black');
  }

  &.txt-center > * {
    padding-left: 1em;
  }

  &.txt-right > * {
    padding-left: 1em;
    padding-right: 0;
  }
}